body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fa;
    margin: 0;
    padding: 20px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
}

form {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

input,
button {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.aprovado {
    color: green;
    display: block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.8px;
}

.reprovado {
    color: red;
    display: block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.8px;
}

.pior-aluno {
    background-color: #ffe5e5;
    padding: 5px;
    border-radius: 6px;
    font-weight: bold;
}

.avaliacao {
    display: flex;
    justify-content: space-between;
}
.cadastrado {
    background-color: rgba(0, 209, 0, 0.774);
    font-size: 16px;
    margin: 0;
    text-align: center;
    border-radius: 10px;
    align-content: center;
    padding: 5px;
    transition: 0.3s ease-in-out;
}
.indicador {
    position: absolute;
    padding-right: 60%;
}
#resultado {
    display: block;
}